{{> menu id="dashboard"}}

<section class="ui left aligned middle aligned segment">
  
  <h2>Playlist App Dashboard</h2>
  
  {{#unless playlists}}
    <h3 class="ui message">
      Start adding your playlists!
    </h3>
  {{/unless}}

  {{#each playlists}}
    <section class="ui left aligned middle aligned segment">

      <h3 class="ui header">
        {{title}}
      </h3>
      <a href="/playlist/{{id}}" class="ui icon button">
        <i class="folder icon"></i>
      </a>
      Total songs: {{songs.length}}
      
    </section>
  {{/each}}
